* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', serif;
    
}

body {
    background-color: rgb(230, 230, 230);
    text-align: center;
   
}
body h1 {
    align-items: center;
    font-size: 36px;
    text-align: center;
    padding: 16px;
}

header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

header img {
    height: 40px;
    margin: 16px;
}

.container {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}


form {
    display: flex;
    max-width: 640px;
    width: 100%;
    justify-content: space-between;
}

form input {
    
    border: none;
    border-bottom:  2px solid #000 ;
    padding: 8px;
    
}

form button {
    background-color: lightcoral;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;

}

form button:hover {
    background-color: palevioletred;
}

table {
    width: 67%;
}

table th  {
    border-bottom:2px solid #000 ;
    padding: 16px;
    font-size: 24px;
    font-weight: bold;
    text-align: justify;
}

table td {
    border-bottom:2px solid #d7d6d6 ;
    width: 67%;
    padding: 24px;
    text-align: right;
    font-size: 18px;
    font-weight: bold;
    
   

}

header h1 {
    padding: 100px;
    font-size: 32px;
    text-align: center  
}


